@charset "utf-8";
/* CSS Document */
::-webkit-input-placeholder {
    color: #ccc !important;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #ccc !important;
    font-style: italic;
}
::placeholder {
    color: #ccc !important;
    font-style: italic;
}

.mycheckbox * {
    outline: none !important;
}
.mycheckbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.mycheckbox input[type="checkbox"] + span {
    font-family: "FontAwesome", sans-serif;
}
.mycheckbox input[type="checkbox"] + span:before,
.myradiobtn input[type="radio"] + span:before {
    font-family: "FontAwesome";
    content: "\f0c8";
    display: inline-block;
    width: 16px;
    color: #ccc;
    vertical-align: middle;
    font-weight: 900;
    transition: all 0.9s;
    padding-bottom: 4px;
    font-size: 20px;
}
.mycheckbox input[type="checkbox"]:checked + span:before {
    content: "\f14a";
    color: var(--gentela_links);
    padding-bottom: 4px;
}
.mycheckbox input[type="checkbox"]:disabled + span {
    color: #999;
}
/*.mycheckbox input[type="checkbox"]:not(:disabled)+span:hover:before { text-shadow: 0 1px 2px #77F; }*/
.myradiobtn input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.myradiobtn input[type="radio"] + span {
    font-family: DroidKufi, sans-serif;
}
.myradiobtn input[type="radio"] + span:before {
    content: "\f111";
}
.myradiobtn input[type="radio"]:checked + span:before {
    content: "\f192";
    color: var(--gentela_links);
}
.myradiobtn input[type="radio"]:disabled + span {
    color: #999;
}
label {
    margin-bottom: 0 !important;
}
.table th,
table td {
    vertical-align: middle !important;
}
.nav-sm .div span.fa {
    display: inline-block;
}

.error-message {
    width: 100%;
    padding: 4px 0 0 0;
    line-height: 11px;
    display: block;
    font-size: 11px;
    float: right;
    color: #f00;
    position: absolute;
    bottom: 0;
}
.message {
    position: fixed;
    display: inline-block;
    width: auto;
    height: 120%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 8888;
    text-align: center;
    padding: 0 30px;
}
.message span {
    overflow: hidden;
    border-radius: 3px;
    display: block;
    max-width: 600px;
    padding: 15px;
    border: 1px solid #999;
    color: #000;
    z-index: 9999;
    margin: 150px auto;
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.message span i {
    position: absolute;
    top: 4px;
    right: 4px;
}
.error span {
    background: #f0cece;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.success span {
    background: #d6e4b1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.default span {
    background: #ccc;
}

.ltrdir {
    direction: ltr;
}
.rtldir {
    direction: rtl;
}
.nav-sm .div span.fa {
    display: inline-block;
}
body .container.body .right_col {
    background: #c3dfd6;
}
#imgHolder {
    opacity: 0;
    z-index: -20;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
}
#imgHolder img {
    margin: 30px auto;
    max-height: 90%;
    max-width: 90%;
    /*
    border-radius:20px;
    -moz-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
    box-shadow: 0px 0px 10px 5px #CCC;
*/
}
#imgHolder i {
    color: #000;
    background: #ccc;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 15%;
    top: 0;
    padding: 6px 12px;
}
#msgHolder {
    transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -webkit-transition: ease-out 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
}
#msgHolder > div {
    padding: 10px 20px;
    max-width: 500px;
    margin: auto;
    border: 2px double #ccc;
    border-radius: 4px;
}
#msgHolder > span {
    display: block;
}
#msgHolder .msg_white {
    background: #fff;
}
#msgHolder .error {
    background: var(--light_red);
}
#msgHolder .success {
    background: var(--light_green);
}
#msgHolder .warning {
    background: var(--light_orange);
}

.nav.side-menu > li.current-page,
.nav.side-menu > li.active {
    border-left: none;
    border-right: none;
}

.fadeIn {
    top: 10%;
}
.fadeOut {
    top: -150%;
}
.div {
    height: auto;
}
.div .form-control-feedback.left {
    top: 19px;
}
.hidden {
    position: absolute;
    opacity: 0;
    z-index: -110;
}
.img {
    width: 100%;
}
.opt_img {
    width: 100%;
    height: 38px;
}
.nav.side-menu > li > a {
    margin-bottom: 0;
    padding: 8px 14px;
}
.nav > li > a {
    padding: 0px 8px;
}
.nav_title .site_title {
    display: flex;
    align-items: center;
}
.nav_title .site_title img {
    padding: 4px;
    margin: 10px;
    background: #eee;
    border-radius: 4px;
    float: left;
}
.nav_title .site_title span {
    float: left;
}
.nav_menu {
    height: 53px;
    position: fixed;
    z-index: 999;
    left: 0;
    width: calc(100% - 230px);
}
.main_menu .fa {
    transform: scale(1.3);
    font-size: 12px;
}
.bootstrap-tagsinput input {
    line-height: 20px;
    border: none;
    background: #eee;
    height: auto !important;
}
.bootstrap-tagsinput .tag {
    float: none;
    display: inline-block;
    margin: 2px 0px 2px 0px;
    background: #5bb6bf;
    line-height: 12px;
}
.bootstrap-tagsinput .tag:after {
    display: none;
}
.bootstrap-tagsinput .tag span {
    float: right;
    height: 12px;
    width: 12px;
    margin: 0 4px;
    cursor: pointer;
}
.bootstrap-tagsinput .tag span:after {
    content: "\f00d";
    font-family: FontAwesome;
    color: #eee;
}
.bootstrap-tagsinput.has-feedback-left {
    height: auto !important;
}
.blueText {
    color: blue;
}
.greenText {
    color: limegreen;
}
.goldText {
    color: gold;
}
.x_title h2 {
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
}
.x_title h2 i::before {
    font-size: 30px;
    background: rgba(19, 132, 150, 0.49);
    padding: 26px 20px;
    border-radius: 50%;
    display: inline-block;
    height: 80px;
    width: 80px;
}
.x_title h2 i {
    display: block;
}
.pointer .last {
    white-space: nowrap;
}
.pagination li a {
    margin-right: 6px;
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 0 6px;
    line-height: 30px;
    display: inline-block;
}
.pagination .active a {
    color: #000;
    pointer-events: none;
}
.double_images {
    position: relative;
    min-height: 120px;
}
.double_images a {
    font-size: 24px;
    z-index: 11;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    line-height: 4px;
}
.double_images img {
    position: absolute;
    top: 0;
    left: 0;
}
.hideIt {
    display: none;
}
.panel form:hover {
    background: white;
}
.panel .show {
    border: 2px solid #f2f5f7;
}
.imgform {
    position: relative;
}
.imgform span {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    padding: 0 4px;
    display: inline-block;
}
.nav-sm .nav.side-menu li ul li a {
    font-size: 16px;
}
.nav_title {
    height: 52px;
}
.profile {
    background: var(--gentela_text);
    padding: 10px;
}
.profile_info {
    padding: 15px;
    color: #ccc;
}
.profile .profile_pic img {
    max-width: 100%;
    max-height: 60px;
}
.h-tool .fa-trash {
    padding: 10px;
}
.sidebar-footer a {
    color: var(--gentela_dark) !important;
}
.dropdown-message {
    display: block !important;
    font-size: 11px;
}

.navbar-nav .open .dropdown-menu {
    left: auto;
    right: auto;
    top: 20px !important;
}
.info-number .badge {
    line-height: 8px;
    padding: 2px;
    right: -4px;
    top: 0px;
}
.top_nav .navbar-right {
    margin: 12px;
}
.nav-item {
    margin: 0 8px;
    line-height: 29px;
    direction: rtl;
}
.result_item img {
    width: 100%;
    max-height: 70px;
}
.result_item h3 {
    font-size: 16px;
}
.actionBtn {
    padding: 0px 8px;
    background: #eee;
}
.search_tag {
    position: absolute;
    z-index: 10;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #d1d1d1;
    text-align: right;
    top: 70px;
    width: 70%;
    right: 100px;
    margin: 0 10px;
}
.search_tag > div {
    margin: 4px 12px;
}
.search_tag a {
    display: block;
    padding: 4px;
}
.search_tag a:focus {
    background: #eee;
}
.left_col {
    position: fixed;
}
.nav-sm .left_col {
    width: 70px !important;
}
.view_page table {
    table-layout: fixed;
}
.view_page table th {
    width: 140px;
}
.view_page table th,
.view_page table td {
    word-wrap: break-word;
}

.badgeNote {
    color: #fff;
    border-radius: 6px;
    background: rgba(255, 0, 0, 1);
    padding: 0px 6px;
}
.ui-pnotify .ui-pnotify-shadow,
.ui-pnotify-container {
    height: auto;
}
.ui-pnotify {
    bottom: auto !important;
}
.msg_list {
    padding: 3px 0 0 6px;
    padding-left: 6px;
    margin: 20px 0;
    max-width: 200px;
}
.top_search .input-group-btn button {
    border-radius: 0px 25px 25px 0px;
    height: 38px;
    padding: 0 10px;
}
.filter > div {
    margin: 4px 0;
}

.btnIcon {
    padding: 0 4px;
    font-size: 16px;
}
.searchInput {
    position: absolute;
    top: -40px;
    background: #cccc;
    padding: 6px 12px;
}
.input-on-fly {
    width: 100%;
    border: none;
    position: relative;
}
.input-on-fly input, .input-on-fly select{
    border: none;
    width: 100%;
    height: 24px;
}
.input-on-fly .icn{
    position: absolute;
    left: 0;
    padding: 4px 6px;
}
.modal-header .close {
    padding: 0 10px;
    margin: 0;
}
.modal-header h4 {
    margin: 0 !important;
}
.side_div1 {
    padding: 0 5px;
}
.side_div2 {
    text-align: right;
    padding: 0;
}
.page-title {
    display: block;
    min-height: 70px;
}
.page-title h3 {
    margin: 0;
}
.page-title > div {
    min-height: 44px;
}
.daterangepicker {
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
}
.tile_count .tile_stats_count {
    text-align: center;
    min-height: 90px;
}
.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height:unset;
}

.dropdown-message {
    display: block !important;
    font-size: 11px;
}
.overly_btn {
    position: absolute;
    right: 0;
    background: #fff;
    background: white;
    padding: 0 5px;
}
.pagination a {
    direction: ltr;
    padding: 0 8px;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 16px;
}
.paginator {
    height: 100px;
}
.pagination {
    display: inline-block;
    direction: ltr;
}
.grayText {
    color: gray;
}
.redText {
    color: red;
}
.greenText {
    color: var(--green);
}
.expand-icon{
    text-align: right;
}
.expand-icon i{
    font-size: 28px;
}
.panel-heading .panel-title{
    padding: 6px;
    margin: 0;
}
.panel-heading .panel-title span{
    float: left;
}
.dashboard_div, .right_col > div{
    display: inline-block; 
    margin-top:55px;
    min-width: 100%;
}
/*
    xs (for phones - screens less than 768px wide)
    sm (for tablets - screens equal to or greater than 768px wide)
    md (for small laptops - screens equal to or greater than 992px wide)
    lg (for laptops and desktops - screens equal to or greater than 1200px wide)

*/
@media (min-width: 768px) {
    .tile_stats_count:last-child::before {
        border-left: 2px solid #ADB2B5;
    }
    
}
@media (max-width: 768px) {
}
@media (max-width: 992px) {
    .nav_menu {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .hideMob {
        display: none !important;
    }
    .nav-item {
        margin: 0 4px;
    }
    .navbar-nav .open .dropdown-menu {
        width: 160px;
    }
}
@media (max-width: 430px) {
    .title_right,
    .title_left {
        width: 100% !important;
    }
}
